!
!
!
hostname R2
no ip domain lookup
ipv6 unicast-routing
!
interface Serial0/1/0
 ip address 10.0.0.2 255.255.255.0
 ipv6 address 1::2/64
 ipv6 ospf 1 area 1
 no shutdown
!
interface GigabitEthernet0/0/0
 ip address 9.1.0.1 255.255.255.0
 ipv6 address 9::1/64
 ipv6 ospf 1 area 1
 no shutdown
!
interface GigabitEthernet0/0/1
 ip address 9.3.0.1 255.255.255.0
 ipv6 address 9:3::1/64
 ipv6 ospf 1 area 1
 no shutdown
!
router ospf 1
 router-id 2.2.2.2
 redistribute bgp 1 subnets
 passive-interface GigabitEthernet0/0/0
 passive-interface GigabitEthernet0/0/1
 network 9.1.0.0 0.0.0.255 area 1
 network 9.3.0.0 0.0.0.255 area 1
 network 10.0.0.0 0.0.0.255 area 1
!
ipv6 router ospf 1
 router-id 2.2.2.2
 passive-interface GigabitEthernet0/0/0
 passive-interface GigabitEthernet0/0/1
 redistribute bgp 1 metric 20
!
router bgp 1
 bgp router-id 1.1.1.1
 bgp log-neighbor-changes
 no bgp default ipv4-unicast
 ! AS 2
 neighbor 9::2 remote-as 2
 neighbor 9.1.0.2 remote-as 2
 ! AS 3
 neighbor 9:3::2 remote-as 3
 neighbor 9.3.0.2 remote-as 3
 !
 address-family ipv4
  bgp redistribute-internal
  redistribute connected
  redistribute ospf 1 metric 20
  !enable neighbors
  neighbor 9.1.0.2 activate
  neighbor 9.3.0.2 activate
 exit-address-family
 !
 address-family ipv6
  bgp redistribute-internal
  redistribute connected
  redistribute ospf 1 metric 20
  !enable neighbors
  neighbor 9::2 activate
  neighbor 9:3::2 activate
 exit-address-family
!
!
!
line con 0
 logging synchronous
!
end
