!
! Configuration (c) Elijah Stuenkel, CCNA, 2024
!
! Set device hostname
hostname R1
! Enable IPv6
ipv6 unicast-routing
!
! Configuring the Serial 0 interface
interface Serial0/1/0
 ip address 10.0.0.1 255.255.255.0
 ipv6 address 1::1/64
! Advertise network for OSPFv3
 ipv6 ospf 1 area 1
! Interface is DCE side, requires clock
 clock rate 8000000
 no shutdown
!
! Loopback interface acts as end host device
interface Loopback0
 ip address 11.0.0.1 255.255.255.0
 ipv6 address 11::1/64
! Advertise network for OSPFv3
 ipv6 ospf 1 area 1
 no shutdown
!
! Configuring IPv4 OSPF
router ospf 1
 router-id 1.1.1.1
 ! Network advertisement 
 network 10.0.0.0 0.0.0.255 area 1
 network 11.0.0.0 0.0.0.255 area 1
! Disable LSA messages on the loopback interface
 passive-interface Loopback0
!
! Configuring IPv6 OSPFv3
ipv6 router ospf 1
 router-id 1.1.1.1
! Disable LSA messages on the loopback interface
 passive-interface Loopback0
!
! Following commands for ease of use
no ip domain lookup
line con 0
 logging synchronous
!
end
