!
! Configuration (c) Elijah Stuenkel, CCNA, 2024
!
! Set device hostname
hostname R6
! Enable IPv6
ipv6 unicast-routing
!
! Configuring the Serial 0 interface
interface Serial0/1/0  
 ip address 30.0.0.2 255.255.255.0
 ipv6 address 3::2/64
! Advertise IPv4 and IPv6 networks over ISIS
 ip router isis
 ipv6 router isis
 no shutdown
!
! Loopback interface acts as end host device
interface Loopback0
 ip address 33.0.0.1 255.255.255.0
 ipv6 address 33::1/64
! Advertise IPv4 and IPv6 networks over ISIS
 ip router isis
 ipv6 router isis
 no shutdown
!
! Configure ISIS
router isis
 net 49.0012.0000.0000.0001.00
! ISIS level 1 for intra-area routing 
 is-type level-1
! New metric style for IPv6
 metric-style wide
 log-adjacency-changes
! Disable ISIS on Loopback interface
 passive-interface Loopback0
!
! Following commands for ease of use
no ip domain-lookup
line con 0
 logging synchronous
!
end
