!
! Configuration (c) Elijah Stuenkel, CCNA, 2024
!
! Set device hostname
hostname R3
! Enable IPv6
ipv6 unicast-routing
!
! Configuring the Serial 0 interface
interface Serial0/1/0
 ip address 20.0.0.1 255.255.255.0
 ipv6 address 2::1/64
! Advertise IPv6 network to EIGRP
 ipv6 eigrp 1
! Interface is DCE side, requires clock
 clock rate 8000000
 no shutdown
! BGP connection to AS 1
interface GigabitEthernet0/0/0
 ip address 9.1.0.2 255.255.255.0
 ipv6 address 9::2/64
! Advertise IPv6 network to EIGRP
 ipv6 eigrp 1
 no shutdown
!
! Configure EIGRP for IPv4
router eigrp 1
 eigrp router-id 3.3.3.3
! Network advertisement 
 network 9.1.0.0 0.0.0.255
 network 20.0.0.0 0.0.0.255
! Advertise all routes learned through BGP with EIGRP
 redistribute bgp 2 metric 100 1 255 1 1500
! Disable EIGRP on BGP connecting interface 
 passive-interface GigabitEthernet0/0/0
!
! Configure EIGRP for IPv6
ipv6 router eigrp 1
 eigrp router-id 3.3.3.3
! Advertise all routes learned through BGP with EIGRP
 redistribute bgp 2 metric 100 1 255 1 1500
! Disable EIGRP on BGP connecting interface 
 passive-interface GigabitEthernet0/0/0
!
! BGP AS 2 configuration
router bgp 2
 bgp router-id 2.2.2.2
 bgp log-neighbor-changes
! Disable IPv4 by default 
 no bgp default ipv4-unicast
! Neighbor in AS 1
 neighbor 9::1 remote-as 1
 neighbor 9.1.0.1 remote-as 1
!
! IPv4 specific BGP configuration
 address-family ipv4
! Advertise all connected networks
  redistribute connected
! Redistrubute routes learned through EIGRP with BGP
  redistribute eigrp 1
! Activate neighbor
  neighbor 9.1.0.1 activate
 exit-address-family
!
! IPv6 specific BGP configuration
 address-family ipv6
 ! Advertise all connected networks
  redistribute connected
! Redistrubute routes learned through EIGRP with BGP
  redistribute eigrp 1
! Activate neighbor
  neighbor 9::1 activate
 exit-address-family
!
! Following commands for ease of use
no ip domain lookup
line con 0
 logging synchronous
!
end
