!
! Last configuration change at 17:03:16 UTC Thu Sep 26 2024
!
!
hostname R6
no ip domain lookup
ipv6 unicast-routing
!
!
interface Serial0/1/0  
 ip address 30.0.0.2 255.255.255.0
 ipv6 address 3::2/64
 ip router isis
 ipv6 router isis
 no shutdown
!
interface Loopback0
 ip address 33.0.0.1 255.255.255.0
 ipv6 address 33::1/64
 ip router isis
 ipv6 router isis
 no shutdown
!
router isis
 net 49.0012.0000.0000.0001.00
 is-type level-1
 metric-style wide
 log-adjacency-changes
 passive-interface Loopback0
!
!
!
line con 0
 logging synchronous
!
end
