!
! Configuration (c) Elijah Stuenkel, CCNA, 2024
!
! Set device hostname
hostname R2
! Enable IPv6
ipv6 unicast-routing
!
! Configuring the Serial 0 interface
interface Serial0/1/0
 ip address 10.0.0.2 255.255.255.0
 ipv6 address 1::2/64
! Advertise network for OSPFv3
 ipv6 ospf 1 area 1
 no shutdown
!
! BGP connection to AS 2
interface GigabitEthernet0/0/0
 ip address 9.1.0.1 255.255.255.0
 ipv6 address 9::1/64
! Advertise network for OSPFv3
 ipv6 ospf 1 area 1
 no shutdown
!
! BGP connection to AS 3
interface GigabitEthernet0/0/1
 ip address 9.3.0.1 255.255.255.0
 ipv6 address 9:3::1/64
! Advertise network for OSPFv3
 ipv6 ospf 1 area 1
 no shutdown
!
! Configuring IPv4 OSPF
router ospf 1
 router-id 2.2.2.2
! Advertise all routes learned through BGP with OSPF
 redistribute bgp 1 subnets
! Disable LSA messages on BGP connecting interfaces 
 passive-interface GigabitEthernet0/0/0
 passive-interface GigabitEthernet0/0/1
 ! Network advertisement 
 network 9.1.0.0 0.0.0.255 area 1
 network 9.3.0.0 0.0.0.255 area 1
 network 10.0.0.0 0.0.0.255 area 1
!
ipv6 router ospf 1
 router-id 2.2.2.2
 passive-interface GigabitEthernet0/0/0
 passive-interface GigabitEthernet0/0/1
! Advertise all routes learned through BGP with OSPFv3
 redistribute bgp 1 metric 20
!
! BGP AS 1 configuration
router bgp 1
 bgp router-id 1.1.1.1
 bgp log-neighbor-changes
! Disable IPv4 by default 
 no bgp default ipv4-unicast
! Neighbor in AS 2
 neighbor 9::2 remote-as 2
 neighbor 9.1.0.2 remote-as 2
! Neighbor in AS 3
 neighbor 9:3::2 remote-as 3
 neighbor 9.3.0.2 remote-as 3
!
! IPv4 specific BGP configuration
 address-family ipv4
! Advertise all connected networks
  redistribute connected
! Advertise routes learned through OSPF with BGP
  redistribute ospf 1 metric 20
! Activate neighbors
  neighbor 9.1.0.2 activate
  neighbor 9.3.0.2 activate
 exit-address-family
!
! IPv6 specific BGP configuration
 address-family ipv6
! Advertise all connected networks
  redistribute connected
! Advertise routes learned through OSPF with BGP
  redistribute ospf 1 metric 20
! Activate neighbors
  neighbor 9::2 activate
  neighbor 9:3::2 activate
 exit-address-family
!
! Following commands for ease of use
no ip domain lookup
line con 0
 logging synchronous
!
end
