!
! Last configuration change at 17:03:16 UTC Thu Sep 26 2024
!
!
hostname R3
no ip domain lookup
ipv6 unicast-routing
!
!
interface Serial0/1/0
 ip address 20.0.0.1 255.255.255.0
 ipv6 address 2::1/64
 no shutdown
!
interface GigabitEthernet0/0/0
 ip address 9.1.0.2 255.255.255.0
 ipv6 address 9::2/64
 no shutdown
!
router bgp 2
 neighbor 9.2.0.1 remote-as 1
!
line con 0
 logging synchronous
!
end
