!
! Last configuration change at 17:03:16 UTC Thu Sep 26 2024
!
!
hostname R5
no ip domain lookup
ipv6 unicast-routing
!
interface Serial0/1/0
 ip address 30.0.0.1 255.255.255.0
 ipv6 address 3::1/64
 clock rate 8000000
 ip router isis
 ipv6 router isis
 no shutdown
!
interface GigabitEthernet0/0/0
 ip address 9.2.0.2 255.255.255.0
 ipv6 address 9:2::2/64
 no shutdown
!
router isis
 net 49.0012.0000.0000.0002.00
 is-type level-1
 metric-style narrow
 log-adjacency-changes
 passive-interface GigabitEthernet0/0/0
!
!
!
!
line con 0
 logging synchronous
!
end
