!
! Last configuration change at 17:03:16 UTC Thu Sep 26 2024
!
!
hostname R1
no ip domain lookup
ipv6 unicast-routing
!
!
interface Serial0/1/0
 ip address 10.0.0.1 255.255.255.0
 ipv6 address 1::1/64
 ipv6 ospf 1 area 1
 clock rate 8000000
 no shutdown
!
interface Loopback0
 ip address 11.0.0.1 255.255.255.0
 ipv6 address 11::1/64
 ipv6 ospf 1 area 1
 no shutdown
!
!
!
router ospf 1
 router-id 1.1.1.1
 network 10.0.0.0 0.0.0.255 area 1
 network 11.0.0.0 0.0.0.255 area 1
 passive-interface Loopback0
!
!
!
ipv6 router ospf 1
 router-id 1.1.1.1
 passive-interface Loopback0
!
!
!
line con 0
 logging synchronous
!
end
