!
! Last configuration change at 17:03:16 UTC Thu Sep 26 2024
!
!
hostname R5
no ip domain lookup
ipv6 unicast-routing
!
interface Serial0/1/0
 ip address 30.0.0.1 255.255.255.0
 ipv6 address 3::1/64
 clock rate 8000000
 no shutdown
!
interface GigabitEthernet0/0/0
 ip address 9.2.0.2 255.255.255.0
 ipv6 address 9:2::2/64
 no shutdown
!
!
line con 0
 logging synchronous
!
end
