Router 5:

show ipv6 route 11::1

conf t
router bgp 3
 address-family ipv6
  neighbor 9:2::1 weight 65535
end
clear bgp ipv6 unicast *


show ipv6 route 11::1


-------------
Router 2:

show ip route 33.0.0.1

conf t
router bgp 1
 address-family ipv4
 neighbor 9.1.0.2 route-map set-loc-pref in
 exit
exit
route-map set-loc-pref permit 10
 set local-preference 600
end
clear ip bgp *

show ip route 33.0.0.1