! Examples of changing BGP atrabutes to alter route patch selection

! Example 1
! Change the route on Router 5 for the IPv6 network 11::/64 using weight

! Route goes through the G0/0/1 interface to Router 2
show ipv6 route 11::1

router bgp 3
 address-family ipv6
! Weight is Cisco proprietary, higher weight takes priority in path selection
  neighbor 9:2::1 weight 65535
end
! Reset the IPv6 BGP process
clear bgp ipv6 unicast *

! Once the process has reset, the 11::/64 network now goes through the G0/0/0 interface to Router 4
show ipv6 route 11::1



! Example 2
! Change route on Router 2 for the 33.0.0.0/24 network using local preference

! Route goes through the G0/0/1 interface to Router 5
show ip route 33.0.0.1

router bgp 1
 address-family ipv4
! Assign route map to all routes incoming from neighbor 9.1.0.2
 neighbor 9.1.0.2 route-map set-loc-pref in
 exit
exit
! Create route map that assigns a local preference of 600; higher than the default of 100 meaning this path will be selected
route-map set-loc-pref permit 10
 set local-preference 600
end
! Reset IPv4 BGP process
clear ip bgp *

! Once the process has reset, the 33.0.0.0/24 network now goes through the G0/0/0 interface to Router 3
show ip route 33.0.0.1